.custom-button {
  border: none;
  border-radius: 5px;
  color: white;
  width: fit-content;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  padding: 10px 20px 10px 20px;
  box-shadow: 2px 2px 6px grey;
  overflow: hidden;
  margin: 10px;
}

/* Button Colors */
.blue {
  background-color: #4885ed;
}
.green {
  background-color: #3cba54;
}
.red {
  background-color: #db3236;
}
